$ancho: 720px;
$blue: #4285F4;
$green: #33D374;
.box_uno {
background-color: $blue;
width: $ancho/2; /* Ancho de 360px*/
}
.box_dos {
background-color: $green;
width: ($ancho/2)-50;
}

.clasePrueba{
    background-color: chartreuse;
}

/* **** MAPAS **** */

$redSocial: ( 
twitter: #f30808,
facebook: #00ff0d,
instagram: #ff4d00
);

@each $red-social in twitter, facebook, instagram {
    .#{$red-social}-icon {
        background-image: url('/imagenes/#{red-social}.png');
    }
}

@each $key, $valor in $redSocial {
    .red-social-#{$key} {
        color: $valor;
    }
}

